@using Core.Models

@model IEnumerable<Schedule>

<br />
<div class="row">
    <div>
        <div class="col-6">
            <h2 class="text-primary"> Your Events </h2>
        </div>
        <div class="col-6">
            <h2 class="text-primary">Calendar Summary @if(Model.Any()){ @Model.ToList()[0].Calendar.Summary }</h2>
        </div>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" asp-controller="Schedule" asp-route-calendarId="" class="btn btn-primary">Create New Event</a>
    </div>
</div>
<div class="p-4 border rounded">
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    Schedule Id
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Start Time
                </th>
                <th>
                    End Time
                </th>
                <th>Actions</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.CalendarId
                    </td>
                    <td>
                        @item.Subject
                    </td>
                    <td>
                        @item.StartTime
                    </td>
                    <td>
                        @item.EndTime
                    </td>
                    <td>
                        <div class="text-center">
                            <form asp-action="Delete" asp-route-scheduleId="@item.Id">
                                <a asp-action="Edit" asp-route-scheduleId="@item.Id" class="btn btn-info text-white">
                                    Edit
                                </a>

                                <button type="submit" onclick="return confirm('Are you sure you want to delete this?')"
                                class="btn btn-danger">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
</div>
